main {           
    
    position:absolute; 
    background-color: #fff;
    padding: 0px;           
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
   width: 270px;

}

img
{
    width: 270px;
}
section#conf-aulas {
    /*ser motrada como um block*/
    display: block;
    width: 750px;
    padding-right: 0px;
    
}

section#teste 
{
    margin:20px;
    color: #585757;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}
p
{
    font-size:x-large;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

div#botton-campo
{

    text-align: center;
}

body {
    background-color: rgba(221, 221, 216, 0.7);
    color: rgb(13, 13, 13);
  
  
}

footer
{
    font-size:80%;
    font-family:monospace;
    color: rgb(127, 129, 129);
    position: absolute;
    padding-left: 20%;
}

input
{
    width: 120px;
    height: 40px;
}

@media (max-width: 600px) {
    header {
        font-size: 1.2rem;
    }
}


button
{
    width: 80px;
    height: 48px;
    background-color: rgb(141, 141, 145);
}